.DS_Store
.AppleDouble
.LSOverride
azure.err
iisnode.yml

# Icon must ends with two \r.
Icon




# Floobits
.floo
.floobit
.floo
.flooignore

# Prod files
node_modules
db

# Minified files
public/dist